body{
    background-color: #f7e4cb;
    font-family: Arial;
    text-align: center;
    color: black;
}

button{
    width:25%;
    height:40px;
    background-color: black;
    color:white;
    font-size: 18px;
}

h1{
    text-decoration:underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
}